body {
    text-align: justify;
    margin : 7%;
}

h2 {
    color: #7851a9;
}

h3 {
    color: #5051a9;
}

#sampleId {
    color: blue;
}

#column-div {
    column-count: 3;
    column-rule: 1px dotted;
}
